<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Experts Home Page</title>
    <%- include('./partials/css-index.ejs'); %>
</head>

<body>
    <%- include('./partials/index-header.ejs'); %>
        <%- include('./partials/hero-section.ejs'); %>
            <%- include('./partials/gallery-section.ejs'); %>
                <%- include('./partials/footer.ejs'); %>
                    <%- include('./partials/js-index.ejs'); %>
</body>

</html>