<!--login page-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Experts Login Page</title>
    <%- include('./partials/css-login.ejs'); %>
</head>

<body>
    <%- include('./partials/login-header.ejs'); %>
        <%- include('./partials/login-form.ejs'); %>
            <%- include('./partials/footer.ejs'); %>
                <%- include('./partials/js-login.ejs'); %>
</body>

</html>