<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Experts Register Page</title>
    <%- include('./partials/css-global'); %>
</head>

<body>
    <%- include('./partials/register-header.ejs'); %>
        <%- include('./partials/register-form.ejs'); %>
            <%- include('./partials/footer.ejs'); %>
                <%- include('./partials/js-register.ejs'); %>
</body>

</html>